.ipynb_checkpoints/
__pycache__/


*.pth
*.tar
*.json
*.pkl
*.pdf
*.mp4
*.png

log*/
viz/
baseline/
data/
reid_strong_baseline_YT/

saved_models/*
saved_models_S/*
saved_models_T/*
saved_models_tmp/*

framework/data_generator*.py
framework/visualizer.py
framework/VReIDFW.py
framework/SpatialComponent.py
framework/Intersection.py
framework/VideoLog.py
framework/VLD.py
